  <html>
    <head>
      <title>Providers App</title>
  <head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="../static/theme.css">
  <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <script>
    var dataPre = document.getElementById("dataPre");
    function getFormData($form){
      var unindexed_array = $form.serializeArray();
      var indexed_array = {};

      $.map(unindexed_array, function(n, i){
          indexed_array[n['name']] = n['value'];
      });
      indexed_array['serialized'] = $form.serialize()
      return indexed_array;
    }

    function createProvider(){
      var sndData = getFormData($( "#createProviderFrom" ));
      $.post("/provider", sndData.serialized,
      function(data){
        console.log(data)
      });
    }
    function updateProvider(){
      var sndData = getFormData($( "#updateProviderFrom" ));
      $.ajax({
        url: "/provider/"+sndData.id,
        type: 'PUT',
        data: sndData.serialized,
        success: function(data) {
          console.log(data)
        }
      });
    }

    function createTruck(){
      var sndData = getFormData($( "#createTruckFrom" ));
      $.post("/truck", sndData.serialized,
      function(data){
        console.log(data)
      });
    }
    function updateTruck(){
      var sndData = getFormData($( "#updateTruckFrom" ));
      $.ajax({
        url: "/truck/"+sndData.truck,
        type: 'PUT',
        data: sndData.serialized,
        success: function(data) {
          console.log(data)
        }
      });
    }
    function getTruck(){
      var sndData = getFormData($( "#getTruckFrom" ));
      $.ajax({
        url: "/truck/"+sndData.truck,
        type: 'GET',
        data: sndData.serialized,
        success: function(data) {
          console.log(data)
        }
      });
    }
    function createRate(){
      var sndData = getFormData($( "#createRateFrom" ));
      $.post("/rates", sndData.serialized,
      function(data){
        console.log(data)
      });
    }
    function getBill(){
      var sndData = getFormData($( "#getBillFrom" ));
      $.ajax({
        url: "/bill/"+sndData.provider,
        type: 'GET',
        data: sndData.serialized,
        success: function(data) {
          console.log(data)
        }
      });
    }

    $(document).ready(function() {
      $("#createProviderBtn").click(createProvider)
      $("#updateProviderBtn").click(updateProvider)
      $("#createTruckBtn").click(createTruck)
      $("#updateTruckBtn").click(updateTruck)
      $("#getTruckBtn").click(getTruck)
      $("#createRateBtn").click(createRate)
      $("#getBillBtn").click(getBill)
    });

  </script>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 ">
          <nav>
            <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
              <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-provider" role="tab" aria-controls="nav-provider" aria-selected="true">Provider</a>
              <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-truck" role="tab" aria-controls="nav-truck" aria-selected="false">Truck</a>
              <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-rates" role="tab" aria-controls="nav-rates" aria-selected="false">Rates</a>
              <a class="nav-item nav-link" id="nav-about-tab" data-toggle="tab" href="#nav-bill" role="tab" aria-controls="nav-bill" aria-selected="false">Bill</a>
            </div>
          </nav>
          <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-provider" role="tabpanel" aria-labelledby="nav-provider-tab">
              <div class="card card-outline-secondary">
                <div class="card-header">
                  <h3 class="mb-0">Create Provider</h3>
                </div>
                <div class="card-body">
                  <form class="form" id="createProviderFrom" action="/provider" method="POST" role="form" autocomplete="off">
                    <div class="form-group row">
                      <label class="col-lg-3 col-form-label form-control-label">Provider name</label>
                      <div class="col-lg-9">
                        <input class="form-control" name="provider" type="text">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-lg-3 col-form-label form-control-label"></label>
                      <div class="col-lg-9">
                        <input type="reset" class="btn btn-secondary" value="Cancel">
                        <input type="button" class="btn btn-primary" id="createProviderBtn" value="Create">
                      </div>
                    </div>
                  </form>
                </div>
              </div>
              <br>
              <div class="card card-outline-secondary">
                <div class="card-header">
                  <h3 class="mb-0">Update Provider</h3>
                </div>
                <div class="card-body">
                  <form class="form" id="updateProviderFrom" method="PUT" role="form" autocomplete="off">
                    <div class="form-group row">
                      <label class="col-lg-3 col-form-label form-control-label">Provider ID</label>
                      <div class="col-lg-9">
                        <input class="form-control" name="id" type="text">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-lg-3 col-form-label form-control-label">Provider Name</label>
                      <div class="col-lg-9">
                        <input class="form-control" name="provider_name" type="text">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-lg-3 col-form-label form-control-label"></label>
                      <div class="col-lg-9">
                        <input type="reset" class="btn btn-secondary" value="Cancel">
                        <input type="button" class="btn btn-primary" id="updateProviderBtn" value="Update">
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="nav-truck" role="tabpanel" aria-labelledby="nav-truck-tab">
              <div class="card card-outline-secondary">
                <div class="card-header">
                  <h3 class="mb-0">Create Truck</h3>
                </div>
                <div class="card-body">
                  <form class="form" id="createTruckFrom" action="/truck" method="POST" role="form" autocomplete="off">
                    <div class="form-group row">
                      <label class="col-lg-3 col-form-label form-control-label">Truck ID</label>
                      <div class="col-lg-9">
                        <input class="form-control" name="truck" type="text">
                      </div>
                      <label class="col-lg-3 col-form-label form-control-label">Provider ID</label>
                      <div class="col-lg-9">
                        <input class="form-control" name="provider_id" type="text">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-lg-3 col-form-label form-control-label"></label>
                      <div class="col-lg-9">
                        <input type="reset" class="btn btn-secondary" value="Cancel">
                        <input type="button" class="btn btn-primary" id="createTruckBtn" value="Create">
                      </div>
                    </div>
                  </form>
                </div>
              </div>
              <br>
              <div class="card card-outline-secondary">
                <div class="card-header">
                  <h3 class="mb-0">Update Truck</h3>
                </div>
                <div class="card-body">
                  <form class="form" id="updateTruckFrom" method="PUT" role="form" autocomplete="off">
                    <div class="form-group row">
                      <label class="col-lg-3 col-form-label form-control-label">Truck ID</label>
                      <div class="col-lg-9">
                        <input class="form-control" name="truck" type="text">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-lg-3 col-form-label form-control-label">Provider ID</label>
                      <div class="col-lg-9">
                        <input class="form-control" name="provider_id" type="text">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-lg-3 col-form-label form-control-label"></label>
                      <div class="col-lg-9">
                        <input type="reset" class="btn btn-secondary" value="Cancel">
                        <input type="button" class="btn btn-primary" id="updateTruckBtn" value="Update">
                      </div>
                    </div>
                  </form>
                </div>
              </div>
              <br>
              <div class="card card-outline-secondary">
                <div class="card-header">
                  <h3 class="mb-0">Get Truck</h3>
                </div>
                <div class="card-body">
                  <form class="form" id="getTruckFrom" method="PUT" role="form" autocomplete="off">
                    <div class="form-group row">
                      <label class="col-lg-3 col-form-label form-control-label">Truck ID</label>
                      <div class="col-lg-9">
                        <input class="form-control" name="truck" type="text">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-lg-3 col-form-label form-control-label">From Date</label>
                      <div class="col-lg-9">
                        <input class="form-control" name="from" type="number">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-lg-3 col-form-label form-control-label">To Date</label>
                      <div class="col-lg-9">
                        <input class="form-control" name="to" type="number">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-lg-3 col-form-label form-control-label"></label>
                      <div class="col-lg-9">
                        <input type="reset" class="btn btn-secondary" value="Cancel">
                        <input type="button" class="btn btn-primary" id="getTruckBtn" value="Get">
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="nav-rates" role="tabpanel" aria-labelledby="nav-rates-tab">
              <div class="card card-outline-secondary">
                <div class="card-header">
                  <h3 class="mb-0">Create Rates</h3>
                </div>
                <div class="card-body">
                  <form class="form" id="createRateFrom" action="/provider" method="POST" role="form" autocomplete="off">
                    <div class="form-group row">
                      <label class="col-lg-3 col-form-label form-control-label">File name</label>
                      <div class="col-lg-9">
                        <input class="form-control" name="file" type="text">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-lg-3 col-form-label form-control-label"></label>
                      <div class="col-lg-9">
                        <input type="reset" class="btn btn-secondary" value="Cancel">
                        <input type="button" class="btn btn-primary" id="createRateBtn" value="Create">
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="nav-bill" role="tabpanel" aria-labelledby="nav-bill-tab">
              <div class="card card-outline-secondary">
                <div class="card-header">
                  <h3 class="mb-0">Get Bill</h3>
                </div>
                <div class="card-body">
                  <form class="form" id="getBillFrom" method="PUT" role="form" autocomplete="off">
                    <div class="form-group row">
                      <label class="col-lg-3 col-form-label form-control-label">Provider ID</label>
                      <div class="col-lg-9">
                        <input class="form-control" name="provider" type="text">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-lg-3 col-form-label form-control-label">From Date</label>
                      <div class="col-lg-9">
                        <input class="form-control" name="from" type="number">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-lg-3 col-form-label form-control-label">To Date</label>
                      <div class="col-lg-9">
                        <input class="form-control" name="to" type="number">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-lg-3 col-form-label form-control-label"></label>
                      <div class="col-lg-9">
                        <input type="reset" class="btn btn-secondary" value="Cancel">
                        <input type="button" class="btn btn-primary" id="getBillBtn" value="Get">
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="dataDiv">
        <pre id="dataPre"></pre>
      </div>
</div>

    <!-- <form id="inform" action="/api/chat" method="POST">
      User name:<input name="username" type=text>
      message:<input name="msg" type=text>
      <input id="sendBtn" type="button" value="send">
    </form>
    <pre id="chatbox">Loading...</pre> -->
  </body>
</html>