  <html>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script>
    function provider() {
      var provider = window.location.href.substring(window.location.href.lastIndexOf('/')+1);
      if (provider=='') provider = 'ALL';
      return "/api/"+provider;
    }

    function updateChat() {
      $.get(provider(),function(data) {
        $("#chatbox").text(data);
        window.setTimeout(updateChat,3000);
      })
    }

    function sendmessage() {
      $.post( provider(), $( "#inform" ).serialize() );
    }

    $(document).ready(function() {
      $("#chatbox").text("Loading chat...");
      $("#sendBtn").click(sendmessage)
      window.setTimeout(updateChat,1500);
    });

  </script>
  <body>
    <form id="inform" action="/api/chat" method="POST">
      User name:<input name="username" type=text>
      message:<input name="msg" type=text>
      <input id="sendBtn" type="button" value="send">
    </form>
    <pre id="chatbox">Loading...</pre>
  </body>
</html>