version: "3.7"
services:
  app:
    build: ./app
    environment:
      - "PYTHONUNBUFFERED=0" # To be removed on Prod
      - "FLASK_ENV=development"
      - "DB_HOST_NAME=db"
      - "DB_DATABASE=billdb"
      - "DB_USER=user"
      - "DB_PASSWORD=1234"
    expose: 
      - "5000"
    ports:
      - "8087:5000"
    links:
      - db
  db:
    build: "./db"
    command: "--explicit_defaults_for_timestamp=1"
    environment: 
      - "MYSQL_DATABASE=billdb"
      - "MYSQL_USER=user"
      - "MYSQL_PASSWORD=1234s"
      - "MYSQL_ROOT_PASSWORD=root"
      - "DATABASE_URL=/var/lib/mysql"
    volumes:
      - ./db/init:/docker-entrypoint-initdb.d/:ro
      - provider-db:/var/lib/mysql
volumes:
  provider-db:
